* {
    box-sizing: border-box;
}
html body {
    background-color: rgb(195, 252, 247);
    /* background: linear-gradient(to bottom, #87e0d1, rgb(235, 179, 235)); */
    display: flex;
}

canvas {
    margin: 10%;
    justify-content: center;
    /* align-self: center; */
    border: 2px solid rgb(34, 138, 224);
}
