@import url('https://fonts.googleapis.com/css?family=Lato:700');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.game-board {
    background-image: url('img/start-screen.jpg');
    width: 1270px;
    height: 665px;
}
#start-button {
    padding-bottom: 7px;
    font-size: 25pt;
    color: rgb(40, 184, 152);
    margin-left: 45%;
    width: 150px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(45, 224, 186);
    border-radius: 5px;
    box-shadow: 0;
}

#canvas {
    margin-top: 86px;
    margin-left: 140px;
    /* border: 2px solid rgb(36, 117, 184); */
}
